In [32]:
import sqlite3

In [43]:
sqlite_connection = sqlite3.connect('database.db')

In [44]:
cursor = sqlite_connection.cursor()

### 1. Вывести всех людей, записанных на собеседование 25.06

Вывести ФИО этих людей, их номера телефона и вакансии, на которые они подаются (join)

In [35]:
query = """
select day, time, vacancies.name, applicants.name, applicants.number from calendar
join applicants on applicants.id = calendar.applicant_id
join vacancies on vacancies.id = calendar.vacancy_id
where calendar.day = 25.06
"""

In [36]:
res = cursor.execute(query)
res.fetchall()

[(25.06,
  '10:00',
  'Менеджер по подбору персонала',
  'Иванов Иван Иванович',
  '+79995553535'),
 (25.06,
  '11:00',
  'Администратор (м. Ясенево)',
  'Иванов Иван Иванович',
  '+79995553535'),
 (25.06,
  '18:00',
  'Повар горячего цеха',
  'Сидорова Елена Александровна',
  '+79998553535')]

### 2. Вывести, сколько собеседований у каждого человека в день

Вывести день, ФИО и количество собеседований (агрегация)

In [49]:
query = """
select calendar.day, applicants.name, count(*) from calendar
join applicants on applicants.id = calendar.applicant_id
join vacancies on vacancies.id = calendar.vacancy_id
GROUP BY calendar.day, applicants.id
"""

In [50]:
res = cursor.execute(query)
res.fetchall()

[(25.06, 'Сидорова Елена Александровна', 1),
 (25.06, 'Иванов Иван Иванович', 2),
 (26.06, 'Сидорова Елена Александровна', 1)]

### 3. Вывести всю информацию о вакансиях, на которые есть собеседования

(вложенный select)

In [55]:
query = """
select * from vacancies
where vacancies.id in (
        select vacancy_id from calendar
    )
"""

In [56]:
res = cursor.execute(query)
res.fetchall()

[(43068111,
  'Повар горячего цеха',
  'Санкт-Петербург',
  0,
  'опыт работы на позициях: повар-универсал, повар холодного цеха, повар горячего цеха, повар открытой кухни, повар-кулинар от 6 месяцев;\nсреднее профессиональное образование (училище, колледж, техникум) или высшее приветствуется;\nдоброжелательность, энергичность, аккуратность;\nжелание и умение работать в команде;\nналичие санитарной книжки (с действительными сроками медицинского обследования) или готовность ее сделать.',
  'оформление согласно ТК РФ;\nполный социальный пакет;\nбелая заработная плата: оклад 42432 руб. (за 180 часов) + премии + бонусы - НДФЛ;\nкомпенсация проезда 3741 руб. и бонус за некурение 500 руб. с первого месяца;\nвозможность повысить категорию и доход уже с первого месяца работы;\nграфик работы: 2/2 или 3/3 по 12 часов;\nвыплаты заработной платы 3 раза в месяц;\nкорпоративное питание, стильная униформа;\nДМС через 1 год работы в Компании;\nсофинансирование занятий спортом;\nобучение, возможности карьерного роста;\nскидки на продукцию сети 25%.',
  'приготовление блюд европейской кухни, салатов и завтраков, блюд на гриле, согласно рецептуре;\nприготовление заготовок;\nсоблюдение санитарных норм;\nпроведение инвентаризаций;\nподдержание чистоты на рабочем месте.'),
 (43908781,
  'Администратор (м. Ясенево)',
  'Москва',
  3,
  'Опыт работы менеджером, администратором в общественном питании от 1 года обязателен!\nУспешный опыт руководства коллективом\nСпособность вдохновлять сотрудников на эффективную работу\nВысокий социальный интеллект и отличные коммуникативные навыки',
  'Работу в компании, где своя атмосфера, где каждый является важной единицей, от действий которой зависит успех Компании!   Присоединиться к команде счастливых на работе людей\nДушевный коллектив\nГрафик работы 2/2 с 9.00 до 21.00\nОформление согласно ТК РФ\nЗаработная плата: оклад 46000 руб., компенсация проезда 3330 руб., бонус за некурение 500 руб. с первого месяца работы + премия по итогам работы\nБесплатное питание\nДополнительный корпоративный социальный пакет\nСкидки на продукцию сети\nОбучение и развитие внутри компании\nТерриториальная расположенность рядом с метро.',
  'Поддержание и улучшение качества обслуживания\nКонтроль и организация работы персонала пекарни-кондитерской в соответствии со стандартами буше\nПомощь администратору в управлении персоналом, с заказом и приемкой сырья (работа в программе 1С, Tillipad)\nИнвентаризация\nЗакрытие кассового дня, отчетность\nОткрытие, закрытие пекарни-кондитерской'),
 (44569588,
  'Помощник кондитера',
  'Санкт-Петербург',
  0,
  'Большое желание развиваться в кондитерском деле;\nАккуратность;\nОтветственность;\nБазовые навыки работы с декором и шоколадом.',
  'современное и стабильное производство (работаем 22 года!)\nоформление согласно ТК РФ;\nполный социальный пакет;\nбелая заработная плата\r\nкомпенсация проезда 3741 руб, бонус за здоровый образ жизни 500 руб;\nграфик работы: 4/4 07.00 до 19.00;\nбесплатное питание, комфортная униформа;\nДМС через 1 год работы в Компании;\nобучение, возможность карьерного роста;\nскидки на продукцию сети 25%;\nсофинансирование спорта.',
  'Изготовление тарталеток и этикеток в нужном количестве\nСмешивание ингредиентов в соответствии с технологическим картами\nЗамес кондитерских полуфабрикатов\nФормировка кондитерских изделий, декорирование продукции'),
 (45507457,
  'Менеджер по подбору персонала',
  'Москва',
  1,
  'Имеет высшее образование\nИмеет опыт работы в сфере подбора персонала – от 2 лет\nУспешно закрывал вакансии разного уровня сложности и знает технологии подбора персонала\nИмеет высокую скорость в работе, быструю обучаемость, ориентирован на результат\nГотов работать в режиме многозадачности, эффективно расставляя приоритеты\nСамостоятелен, инициативен, проактивен в работе и собственном развитии\nУмеет и любит работать в команде, вовлечен в общее дело.',
  'Официальное оформление в штат компании и полностью белая ЗП\nВсесторонняя поддержка HR-команды Санкт-Петербурга\nУ нас нет дресс-кода, ты можешь оставаться собой ✌️\nГрафик работы 5/2 с 9:15 до 18:00, в пятницу работаем до 17:00\nРабочее место в центре города\nКомпенсация проезда до места работы и бонус за здоровый образ жизни\nБесплатное корпоративное питание\nКомпенсация занятий спортом\nДМС\r\nВозможности для обучения и развития внутри компании',
  'Поиск и подбор персонала на линейные позиции\nРабота со входящими/исходящими звонками, письмами\nВедение отчетности и статистики по проделанной работе, составление аналитических отчётов\nРабота с различными job –ресурсами: job –сайты, социальные сети и пр.\nУчастие в разработке и реализации рекламной кампании для привлечения соискателей\nПроведение интервью по компетенциям, составление профиля кандидата, поиск того самого\nУчастие в других проектах отдела персонала')]

### 4. Вывести дату и время собеседования в Москве с людьми старше 20

(Where с объединением трёх таблиц в where)

In [71]:
query = """
select day, time from calendar
where calendar.vacancy_id in (
        select id from vacancies
        where city = "Москва"
    ) and
    calendar.applicant_id in (
        select id from applicants
        where age > 20
    )
"""

In [72]:
res = cursor.execute(query)
res.fetchall()

[(25.06, '10:00'), (25.06, '11:00')]

### 5. CRUD

Добавить новое собеседование (Update)

In [74]:
update = """
update calendar
set applicant_id = 0, vacancy_id = 43068111
where day = 25.06 and time = "15:00"
"""

In [75]:
cursor.execute(update)

In [76]:
sqlite_connection.commit()

Убрать нерелевантную вакансию (Delete)

In [78]:
cursor.execute("DELETE FROM vacancies WHERE id = 45507457")
sqlite_connection.commit()

### Triggers

In [80]:
cursor.execute(
    '''CREATE TRIGGER offer
             AFTER INSERT ON applicants
             when new.age < 18
             BEGIN
                 SELECT RAISE (ABORT, 'underage!');
             END
             ;
             ''')

OperationalError: trigger offer already exists

In [81]:
cursor.execute("INSERT INTO applicants (name, city, age) VALUES ('Миша', 'Москва', 15)")
sqlite_connection.commit()

IntegrityError: underage!